body {
  margin:0;
  font-family: Arial, Helvetica,Verdana, sans-serif;
  color:black;
  font-size:15px;
}

body.dragging ul, body.dragging .trigger {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.trigger {
  will-change:margin;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.container {
  padding:50px 0;
}
.slider {
  margin:25px 0;
}
.summary ul {
  background:#efefef;
}
.slider ul{
  display:flex;
  flex-wrap:nowrap;
  margin:0;
  padding:0;
  will-change:margin;
}

.slider ul {

  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.slider.triggered ul {
  cursor: default;
}
.slider ul li {
  list-style: none;
  display:inline-block;
  margin:0;
  padding:25px;
  outline: none;
  font-size:25px;
  font-weight:300;
}
.slider ul li b {
  font-size:10px;
}

.slider {
  width:100%;
  overflow:hidden;
  background:rgba(0,0,0,.05);
}

.slider * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.trigger {
  line-height:25px;
  position:absolute;
  bottom:-10px;
  padding:0 25px;
  background:pink;
}
/** PRISM overwitting **/

pre[class*="language-"] {
  margin:0;
  overflow-x: sroll;
}

.language-html .tag {
  font-size: 100%;
  font-weight: normal;
  line-height: 0;
}
/** Bootstrap overwritting **/


ul {
  padding-left: 20px;
  list-style-type: none;
}
ul li {
  line-height:25px;
}
ul li ul li {
  font-size:0.8em;
    line-height:1.5em;
}

h2 {
  margin-top:50px;
  margin-bottom:10px !important;
}
h3 {
  margin-top:25px;
  font-size:1.25rem !important;
  margin-bottom:10px !important
}

iframe {
  border:none;
}
@media(min-width:1200px) {
  .summary {float:right}
  .fixed {position: fixed}
}

#slider1 ul {
  width:2000px;
  display:block;
}
#slider1 ul li {
  width:200px;
  display:block;
  padding:25px;
  float:left;
  margin:0;
}
